@{
    ViewBag.Title = "Harmony - Zapisy";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title"><b><center>Zapisy na zajęcia</center></b></h5>
    </div>

    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-body">

                @using (Html.BeginForm("ActivityJoin", "Home"))
                {
                    @Html.DropDownList("ActivityData", "Wybierz kurs z listy")
                    <input type="submit" value="Zapisz się"/>
                }

                <br/>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">


                @using (Html.BeginForm("ActivityJoinByCode", "Home"))
                {
                    <p>
                        Kod kursu: @Html.TextBox("ActivityCode")
                        <input type="submit" value="Zapisz się"/>
                    </p>
                }

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">

                @using (Html.BeginForm("ActivityJoinAll", "Home"))
                {
                    <input type="submit" value="Zapisz na wszystkie" class="btn btn-success"/>
                }
                <p><span class="glyphicon glyphicon-info-sign"></span> Wybranie tej opcji zapisuje użytkowniak na wszystkie grupy zajęciowe w ramach kierunku oraz ogólnouczelniane.</p>

            </div>
        </div>
    </div>
</div>










