@model IEnumerable<HarmonyWebApp.Entities.Activity>

@{
    ViewBag.Title = "Harmony - Strona główna";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Strona główna</h2>

<h4>Lista zajęć</h4>
@foreach (var item in Model)
{
    <div>
        @item.Code
        @item.Name
    </div>
}