@{
    ViewBag.Title = "Harmony - Przeglądanie kursów";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "Courses",
        Url = Url.Action("CoursesList")
    };
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <b>
                <center>Przeglądanie dostępnych kursów</center>
            </b>
        </h3>
    </div>

    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-body">

                <p>
                    @using (Ajax.BeginForm(ajaxOpts))
                    {
                        <p>
                            Szukaj za pomocą:
                            @Html.RadioButton("searchBy", "Name", true) Nazwa
                            @Html.RadioButton("searchBy", "Code") Kod grupy<br/>
                            @Html.TextBox("searchString")
                            <input type="submit" value="Szukaj"/>
                        </p>
                    }
                </p>
            </div>
        </div>

        <div class="panel panel-default" id="Courses">
            @Html.Action("CoursesList")
        </div>

    </div>
</div>